node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

venv/

*.pyc
__pycache__/
api/__pycache__/

api/instance/

.pytest_cache/
api/.pytest_cache/
.coverage
api/.coverage
htmlcov/
api/htmlcov/

dist/
api/dist/
build/
api/build/
*.egg-info/

.vscode/
